~
*.a
.deps
.dirstamp
.*.swp
*.gcda
*.gcno
*.la
*.lo
*.log
*.o
*.trs
aclocal.m4
autom4te.cache
/cc-shim
compile
/config.*
configure
cscope.files
cscope.in.out
cscope.out
cscope.out.in
cscope.out.po
cscope.po.out
depcomp
.deps/
.dirstamp
install-sh
libtool
ltmain.sh
m4/
Makefile
Makefile.in
missing
shim/
stamp-h1
